.board{
    max-height: 100%;
    width: 370px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #F4F5F8;
}

.board-top{
    background-color: #F4F5F8;
}


.board-top-title{
    display: inline;
    flex:1;
    padding-left: 15px;
    margin-bottom: 10px;
}

.more-top-title{
    float: right;
}

.card-count{
    color: rgb(138, 138, 138);
}


.board-cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 10px;
    padding: 1px;
    max-height: 100vh;
    overflow-x: auto;
    background-color: #F4F5F8;
    
}