.card{
    position: relative;
    background-color: white;
    width: auto;
    height: 110px;
    border: .5px solid rgb(183, 184, 202);
    border-radius: 6px;
    box-shadow: 1px 1px 2px rgb(152, 183, 241) ;
    display: flex;
    flex-direction: column;
    padding: 9px;
}

.card-id{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    color: rgb(138, 138, 138);
    font-variant: small-caps;
    font-stretch: extra-expanded ;
    background-color: white;
}

.title{
    font-variant: initial;
    font-weight: 400;
    font-size: 16px;
    font-stretch: extra-condensed;
    background-color: white;
}

.bottom-bar{
    color: rgb(138, 138, 138);
    font-size:10px;
    background-color: white;
}
.profile{
    position: absolute;
    top: 0;
    right: 10px;
    
}

.bottom-left{
    padding: 1px;
    margin-right: 10px;
    background-color: white;
}
#card-icon{
    padding-left: 2px;
    margin-right: 10px;
    background-color: white;
}

#tag{
    background-color: white;
}

#feature-id{
    background-color: white;
}
.card-label{
    display: flex;
    align-items: center;
    background-color: none;
}