/*.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #2e2e2e;
    padding:20px;
  }
.dropdown{
    border: #242424;
    border-width: 10px;
    border-radius: 2px;
}
  .dropdown select {
    background: transparent;
    border: none;
    color: #242424;
    font-size: 16px;
    cursor: pointer;
  }
  
  .dropdown select option {
    background-color: #333;
    color: #fff;
    border: none;
  }
  
  /* Styling the dropdown arrow (this may vary depending on the browser) */
  /*.dropdown select::-ms-expand {
    display: none;
  }
  
  /*
  .dropdown select::after {
    content: '\25BC'; /* Unicode character for a down arrow */
 /*   position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }*/

  /* Navbar styles */
.navbar {
    overflow: hidden;
    background-color: #e2e2e2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    margin-bottom: 1rem;
    border: 2px;
    
  }
  
  /* Button styles */
  .navbar button {
    background-color: #333;
    border: none;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Dropdown styles */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Show class for dropdown visibility */
  .show {
    display: block !important;
  }
  