.App {
  text-align: center;
  /*background-color: rgb(235, 236, 245);*/
}


.kanban-card {
  background-color: #ffffff;
  border: 2px solid #ddd;
  padding: 8px;
  margin: 8px;
}

.kanban-board {
  display: flex;
  justify-content: space-around;
}

.column {
  flex: 1;
  /*border: 1px solid #7a2f2f;*/
  margin: 8px;
  padding: 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #2e2e2e;
  padding:20px;
}

.dropdown select {
  background: transparent;
  border: none;
  color: #242424;
  font-size: 16px;
  cursor: pointer;
}

.dropdown select option {
  background-color: #333;
  color: #fff;
  border: none;
}

/* Styling the dropdown arrow (this may vary depending on the browser) */
.dropdown select::-ms-expand {
  display: none;
}

/* Custom arrow styling */
.dropdown select::after {
  content: '\25BC'; /* Unicode character for a down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
